.button {
  margin: auto;
  cursor: pointer;
  display: block;
  border-radius: 12px;
  padding: 10px 20px;
  width: 116px;
  height: 44px;
  background-color: #235691;
}
button:hover {
  background-color: #4e90dc;
}
button:active {
  background-color: #0f56a8;
}
