.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 29px;
  text-align: center;
}
.firstText {
  line-height: 187%;
  width: 300px;
  margin: auto;
  margin-bottom: 24px;
}
.img {
  width: 360px;
  height: 499px;
  margin: auto;
}

.aboutBox {
  position: relative;
  margin: auto;
  width: 360px;
  overflow: hidden;
  margin-bottom: 41px;
}
