.titleFirst {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 29px;
  text-align: center;
}
.text {
  text-align: left;
  margin: auto;
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  margin-bottom: 90px;
  margin-top: 28px;
}
.cloud {
  display: none;
}
.firstText {
  line-height: 187%;
  width: 300px;
  margin: auto;
  margin-bottom: 24px;
}
.firstImg {
  width: 360px;
  height: 499px;
  margin-bottom: 41px;
}

.aboutBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 360px;
  overflow: hidden;
  margin-bottom: 41px;
  margin: auto;
}
.wrapper {
  line-height: 222%;
  text-align: center;
  position: relative;
  width: 360px;
  margin: auto;
}
.title {
  font-weight: 700;
  font-size: 26px;
  margin-top: 28px;
  margin-bottom: 26px;
  text-align: center;
}
.list {
  margin-bottom: 32px;
  text-align: left;
  list-style: none;
}

.list li::before {
  content: "• ";
  color: #d9d9d9;
  font-size: 22px;
  font-weight: bold;
  margin-right: 2px;
}

.img {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 360px;
  margin-bottom: 39px;
}
.textBox {
  width: 300px;
  margin: auto;
}
.secondText {
  text-align: left;
}
.aboutQuinnBox {
}
.quinnPhoto {
  display: none;
}
.secondText {
  margin-bottom: 37px;
}
.moon {
  display: none;
}
.gradient {
  display: none;
}
@media (min-width: 768px) {
  .title {
    margin-top: 0;
  }
  .quinnPhoto {
    display: block;
  }
  .aboutBox {
    width: 768px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .firstImg {
    display: none;
  }
  .section {
    width: auto;
    flex-direction: row;
    position: relative;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    line-height: 222%;
    flex-direction: row;
    text-align: center;
    position: relative;
    width: 768px;
    margin: auto;
  }
  .text {
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    width: auto;
    color: #fff;
  }
  .titleFirst {
    text-align: left;
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    margin-top: 0;
  }
  .aboutQuinnBox {
    margin-right: 60px;
    margin-left: 40px;
    margin-top: 30px;
  }
  .firstText {
    margin-left: 0;
    width: 325px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin-bottom: 0;
    color: #fff;
  }
  .quinnPhoto {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    text-align: left;
  }
  .questionBox {
    max-width: 282px;
    margin-left: 60px;
  }
  .img {
    width: 425px;
    height: 450px;
    max-width: none;
    width: auto;
    margin-bottom: 0;
  }
  .textBox {
    position: relative;
    padding: 24px 60px;
    width: auto;
    text-align: left;
  }
  .subtitle {
    font-weight: 400;
    font-size: 24px;
  }
  .cloud {
    display: block;
    width: 763px;
    height: 508px;
    position: absolute;
    left: calc(50% - 105px);
    top: 10px;
    transform: rotate(-32deg);
    object-fit: cover;
    z-index: 1;
  }

  .moon {
    display: block;
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 352px;
    height: 352px;
    z-index: 10;
    opacity: 0.8;
    transition: transform 0.8s ease-out;
  }

  .contentWrapper {
    position: relative;
    z-index: 10;
  }
  .gradient {
    display: block;
    position: relative;
    top: 0;
    left: -1px;
    width: 425px;
    height: 627px;
    background: rgba(138, 124, 94, 0.2);
    z-index: 5;
  }
}
@media (min-width: 1440px) {
  .moon {
    width: 588px;
    height: 588px;
  }
  .quinnPhoto {
    width: 553px;
    height: 833px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .titleFirst {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .firstText {
  }
  .aboutBox {
    width: 1440px;
    gap: 107px;
  }
  .aboutQuinnBox {
    width: 695px;
    height: 756px;
  }
  .gradient {
    width: 780px;
    height: 838px;
  }

  .firstText {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin-right: 0;
    width: auto;
  }
  .wrapper {
    position: relative;
  }
  .title {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
  }
  .questionBox {
    position: absolute;
    top: -500px;
    left: 640px;
    max-width: none;
    width: 695px;
    z-index: 10;
  }
  .wrapper {
    flex-direction: row-reverse;
    width: 1440px;
  }
  .textBox {
    width: 658px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 77px 60px;
  }
  .img {
    width: 781px;
    height: 826px;
  }
  .cloud {
    transform: rotate(19deg);
    width: 763px;
    height: 508px;
    left: calc(50% - 580px);
    top: 480px;
  }
  .section {
    margin-bottom: 120px;
  }
}
