.list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  width: 312px;
  height: 84px;
}
.item {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  width: 152px;
  height: 30px;
}
.item:hover {
  color: #9cabba;
}
.socialLink {
  display: flex;
  gap: 16px;
  width: 104px;
}
.footerBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 25px;
}
.svg {
  fill: #fff;
}
.brend {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  text-align: center;
}
.siteDevelopers {
  text-align: center;
  width: 261px;
}
.name {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.name:hover {
  color: #9cabba;
}
@media (min-width: 1440px) {
  .list {
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 146px;
  }
  .item {
  }
  .item:hover {
  }
  .socialLink {
    display: flex;
    gap: 16px;
    width: 104px;
  }
  .footerBox {
    margin-bottom: 38px;
  }
  .svg {
    fill: #fff;
  }
  .brend {
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    text-align: center;
  }
  .siteDevelopers {
    width: auto;
  }
}
