* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Newsreader", "Poiret One", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #d9d9d9;
  background-color: #141e20;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* Remove list styles */
ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Reset anchor styles */
a {
  color: inherit;
  list-style: none;
}

/* Reset buttons and inputs */
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Cursor for buttons */
button {
  cursor: pointer;
}

/* Images responsive by default */
img {
  height: auto;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
