.box {
  position: relative;
  padding: 310px 30px 362px 30px;
}

.title {
  position: relative;
  margin: auto;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
  width: 300px;
  z-index: 20;
}

.text {
  margin: auto;
  line-height: 187%;
  text-align: center;
  width: 300px;
  margin-bottom: 24px;
  position: relative;
  z-index: 20;
}

.but {
  position: relative;
  z-index: 20;
  text-align: center;
  text-decoration: none;
}

.stars {
  position: absolute;
  left: 50%;
  top: 128px;
  transform: translateX(-50%);
  width: 768px;
  height: 768px;
  z-index: 10;
  pointer-events: none;
}

.cloudTop {
  position: absolute;
  left: calc(50% - 600px);
  top: -10px;
  transform: rotate(156deg);
  width: 775px;
  height: 516px;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
}
.cloudBottom {
  position: absolute;
  left: calc(50% - 155px);
  top: 325px;
  transform: rotate(-34deg);
  width: 739px;
  height: 493px;
  object-fit: cover;
  z-index: 1;
}
@media (min-width: 768px) {
  .box {
    position: relative;
    padding: 120px 0 261px 0;
    margin-bottom: 120px;
  }

  .title {
    width: auto;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
  }

  .text {
    width: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 60px;
  }

  .but {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  .stars {
    top: -270px;
  }

  .cloudTop {
    left: calc(50% - 1130px);
    top: -80px;
    width: 1238px;
    height: 825px;
  }
  .cloudBottom {
    left: calc(50% - 200px);
    top: -100px;
    width: 1238px;
    height: 825px;
  }
}
@media (min-width: 1440px) {
  .box {
    padding: 120px 0 287px 0;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 15px;
  }

  .cloudTop {
    left: calc(50% - 1530px);
    top: 0;
    transform: rotate(138deg);
    width: 1488px;
    height: 992px;
  }
  .cloudBottom {
    left: calc(50% + 200px);
    top: -380px;
    width: 1238px;
    height: 825px;
  }
}
